bin/
obj/
.vs/
TestResults/
.audit/
.nuget-appdata/
.nuget-packages/
.nuget-sandbox/
.nuget-sandbox+/
**/NuGet/Migrations/
examples/**/*.ed25519.private.key
examples/**/*.private.public.key
examples/manual*
examples/hello-hopng*
tmpcli/
